<%- include('header') %>
    <p class="h1">Update <%= curuser.name %></p>
    <form
      id="form"
      method="post"
      enctype="multipart/form-data"
      action="/update/12eds"
    >
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<%- include('footer') %>
